{% extends 'blog/base.html' %}
{% load i18n %}

{% block title %}{% trans "Categories" %}{% endblock %}
{% block meta_description %}
{% trans "Browse all available categories with featured articles." %}
{% endblock %}

{% block content %}
<section class="responsive-section-padding">
  <h1>{% trans "Categories" %}</h1>
      <p class="lead">Testing typography, spacing, grid, and navigation systems</p>
</section>
<section class="responsive-section-padding">
<div class="grid grid--4-cols grid--gap-lg">
    {% for item in category_list %}
        {% include "blog/components/_item_list.html" with item=item %}
    {% empty %}
    <div class="grid">
      <p class="text-muted">{% trans "No items available." %}</p>
    </div>
  {% endfor %}
</div>
</section>
{% endblock %}