{% extends 'blog/base.html' %}
{% load i18n %}

{% block title %}{% trans "Articles" %}{% endblock %}
{% block meta_description %}{% trans "Read the latest articles on our blog." %}{% endblock %}

{% block content %}

  
  {% include "blog/components/page_header.html" with title=_('Discover Our Latest Articles') description=_('Exploring technology, design, and innovation through carefully curated content.') %}
  <div class="articles-list">
    {% for article in article_list %}
    {% include "blog/components/article_item.html" with article=article %}
  {% empty %}
    <p class="articles-list__empty">{% trans "No articles found." %}</p>
  {% endfor %}
  </div>


  {% include "blog/components/pagination.html" %}

{% endblock %}
