# Python
*.pyc
*.pyo
*.pyd
*.pot
__pycache__/
.pytest_cache/
*.log
db.sqlite3
.env
media/
static/debug_toolbar/
static/graphene_django

# Node.js
node_modules/
theme/node_modules/
theme/package-lock.json
package-lock.json

# Other
# operating system-related files
# file properties cache/storage on macOS
*.DS_Store
# thumbnail cache on Windows
Thumbs.db
.idea/
.vscode/
git
todo
.coverage

# Django Tailwind
theme/static/css/dist/
index.html
theme2