// themes/_blue-dark.scss
@use 'sass:map';
@use '../abstracts/variables' as vars;

body[data-theme="blue-dark"] {
  @extend %theme-dark !optional;
  
  --color-primary: #{map.get(vars.$colors-blue, 'primary')};
  --color-primary-light: #{map.get(vars.$colors-blue, 'light')};
  --color-primary-dark: #{map.get(vars.$colors-blue, 'dark')};
  
  --color-link: var(--color-primary-light);
  --color-link-hover: var(--color-primary);
  --color-inverse-text: var(--color-neutral-900);
  --color-inverse-background: var(--color-primary-light);
}