// themes/_blue-light.scss
@use "sass:map";
@use "../abstracts/tokens/colors" as *;

body[data-theme="blue-light"] {
  --color-primary-light: #{map.get($colors-blue, "light")};
  --color-primary: #{map.get($colors-blue, "base")};
  --color-primary-dark: #{map.get($colors-blue, "dark")};
  --color-primary-darker: #{map.get($colors-blue, "darker")};
}
