// themes/_blue-light.scss
@use "sass:map";
@use "../abstracts/tokens/colors" as *;

body[data-theme="blue-light"] {
  @each $key, $value in $colors-blue {
    --color-primary-#{$key}: #{$value};
  }
  --color-link: var(--color-primary-light);
  --color-link-hover: var(--color-primary-base);
  --color-inverse-text: var(--color-neutral-900);
  --color-inverse-background: var(--color-primary-light);
}
