// themes/_red-light.scss
@use 'sass:map';
@use '../abstracts/variables' as vars;

body[data-theme="red-light"] {
  --color-primary: #{map.get(vars.$colors-red, 'primary')};
  --color-primary-light: #{map.get(vars.$colors-red, 'light')};
  --color-primary-dark: #{map.get(vars.$colors-red, 'dark')};
  
  --color-link: var(--color-primary);
  --color-link-hover: var(--color-primary-dark);
  --color-inverse-text: var(--color-neutral-100);
  --color-inverse-background: var(--color-primary);
}
