$themes: ("light", "dark", "blue-light", "blue-dark", "red-light", "red-dark");

$colors-neutral: (
  100: #ffffff,
  200: #f8f9fa,
  300: #e9ecef,
  400: #ced4da,
  500: #adb5bd,
  600: #6c757d,
  700: #495057,
  800: #343a40,
  900: #212529
);

$colors-blue: (
  primary: #00bcf1,
  light: #33c9f4,
  dark: #0099c4
);

$colors-red: (
  primary: #e34449,
  light: #e86368,
  dark: #d92d32
);

$colors-utility: (
  success: #28a745,
  warning: #ffc107,
  error: #dc3545,
  info: #17a2b8
);