// abstracts/tokens/_colors.scss
$themes: ("light", "dark", "blue-light", "blue-dark", "red-light", "red-dark");

$colors-neutral: (
  100: #ffffff,
  200: #f8f9fa,
  300: #e9ecef,
  400: #ced4da,
  500: #adb5bd,
  600: #6c757d,
  700: #495057,
  800: #343a40,
  900: #212529
);

$colors-blue: (
  light: #33c9f4,
  base: #00bcf1,
  dark: #0099c4,
  darker: #007b9e
);

// $colors-utility: (
//   success: #28a745,
//   warning: #ffc107,
//   error: #dc3545,
//   info: #17a2b8
// );


// Base colors with variants
$colors-state: (
  'info': (
    'light': #e3f2fd,
    'base': #2196f3,
    'dark': #1976d2
  ),
  'success': (
    'light': #e8f5e9,
    'base': #4caf50,
    'dark': #388e3c
  ),
  'warning': (
    'light': #fff3e0,
    'base': #ff9800,
    'dark': #f57c00
  ),
  'error': (
    'light': #ffebee,
    'base': #f44336,
    'dark': #d32f2f
  )
);


$colors-red: (
  primary: #e34449,
  light: #e86368,
  dark: #d92d32
);

