@forward 'mixins/typography';
@forward 'mixins/spacing';
@forward 'mixins/layout';
@forward 'mixins/buttons';

@mixin aspect-ratio($width, $height) {
  aspect-ratio: calc($width / $height);
  overflow: hidden;
}


@mixin image-fill {
  width: 100%;
  height: 100%;
  object-fit: cover;
}




// // Clearfix
// @mixin clearfix { 
//   &::after {
//     content: "";
//     display: table;
//     clear: both;
//   }
// }

// // Text Truncate
// @mixin text-truncate {
//   overflow: hidden;
//   text-overflow: ellipsis;
//   white-space: nowrap;
// }

// // Transition
// @mixin transition($property, $duration, $timing: ease) {
//   transition: $property $duration $timing;
// }

// // Box Shadow
// @mixin box-shadow($x, $y, $blur, $color) {
//   box-shadow: $x $y $blur $color;
// }

// @mixin generate-color-variants($color, $prefix) {
//   // Base color
//   --#{$prefix}: #{$color};
  
//   // Just a few opacity variants for overlays and subtle backgrounds
//   --#{$prefix}-10: #{rgba($color, 0.1)};
//   --#{$prefix}-20: #{rgba($color, 0.2)};
//   --#{$prefix}-30: #{rgba($color, 0.3)};
  
//   // One lighter and one darker variant for hover states and emphasis
//   --#{$prefix}-lighter: #{color.scale($color, $lightness: 20%)};
//   --#{$prefix}-darker: #{color.scale($color, $lightness: -10%)};
// }