@use "../abstracts/variables"as *;

:root {
    // Theme colors that might change
    --color-text-primary: #{$color-neutral-900};
    --color-text-secondary: #{$color-neutral-600};
    --color-text-tertiary: #{$color-neutral-500};
    
    --color-background-primary: #{$color-neutral-100};
    --color-background-secondary: #{$color-neutral-200};
    --color-background-tertiary: #{$color-neutral-300};
    
    --color-border-light: #{$color-neutral-300};
    --color-border-default: #{$color-neutral-400};
    --color-border-dark: #{$color-neutral-500};
    
    --color-link: #{$color-brand-primary};
    --color-link-hover: #{$color-brand-primary-dark};
    
    --color-inverse-text: #{$color-neutral-100};
    --color-inverse-background: #{$color-brand-primary};
    
    --shadow-color: #{$color-shadow}; 
  }