// layout/_flex.scss
@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.flex {
    @include flex-base;
    
    &--col { flex-direction: column; }
    &--wrap { flex-wrap: wrap; }
    &--center { @include flex-center; }
    &--between { @include flex-between; }
    
    // Alignment
    &--items-start { align-items: flex-start; }
    &--items-center { align-items: center; }
    &--items-end { align-items: flex-end; }
    
    &--justify-start { justify-content: flex-start; }
    &--justify-center { justify-content: center; }
    &--justify-end { justify-content: flex-end; }
    &--justify-between { justify-content: space-between; }
    
    // Gap utilities
    @each $key, $value in $spacing {
      &--gap-#{$key} { gap: $value; }
    }
  }