@use "../abstracts/tokens/spacing" as *;
@use '../abstracts/mixins' as *;
@use 'sass:map';

.pagination {
  margin: map.get($spacing, '6') 0 map.get($spacing, '8') 0;

  &__list {
    @include flex-center;
    gap: map.get($spacing, '2');
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    &--disabled {
      opacity: 0.5;
      pointer-events: none;
    }

    &--ellipsis {
      color: var(--color-text-tertiary);
    }

    &--current {
      .pagination__link {
        background-color: var(--color-link);
        color: var(--color-neutral-100);
        border-color: var(--color-link);
      }
    }
  }

  &__link {
    @include text-style('sm', 'medium');
    min-width: map.get($spacing, '6');
    height: map.get($spacing, '6');
    padding: 0 map.get($spacing, '3');
    border: 1px solid var(--color-neutral-300);
    border-radius: map.get($spacing, '1');
    @include flex-center;
    color: var(--color-text-primary);
    text-decoration: none;
    transition: all 0.2s ease;

    &:hover:not([aria-disabled="true"]) {
      background-color: var(--color-neutral-200);
      border-color: var(--color-neutral-400);
    }

    &--prev,
    &--next {
      padding: 0 map.get($spacing, '4');
    }
  }
}
