{% load blog_filters %} 
<p class="article__meta">
    <time datetime="{{ article.created_at|date:'Y-m-d' }}" class="article__date">
      <svg width="16" height="16" viewBox="0 0 16 16" fill="currentColor">
        <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
      </svg>
      {{ article.created_at|relative_date }}
    </time>
    {% if article.category %}
    <a href="{{ article.category.get_absolute_url }}" class="article__category">
      {{ article.category.name }}
    </a>
    {% endif %}
    <span class="article__reading-time">{{ article.content|reading_time }}</span>
</p>