// abstracts/mixins/_flex.scss

@mixin flex-base {
    display: flex;
  }
  
  @mixin flex-column {
    @include flex-base;
    flex-direction: column;
  }
  
  @mixin flex-center {
    @include flex-base;
    align-items: center;
    justify-content: center;
  }
  
  @mixin flex-between {
    @include flex-base;
    align-items: center;
    justify-content: space-between;
  }